

<div class="row">
  <%= form_for @tweet do |f| %>
    <% if @tweet.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" >
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      </ul>
      <% end %>
    </div>
  <% end %>

      <form class="col s12">
        <p class="edit_rogo">title</p>
        <div class="row">
          <div class="input-field col s6 offset-s2">
             <%= f.text_field :title , id: "input_text", type:"text" , maxlength:"10" %>
            <label for="input_text"></label>
          </div>
        </div>
        <p class="edit_rogo">text</p>
        <div class="row">
          <div class="input-field col s8 offset-s2">
           <%= f.text_area :text , id:"textarea1" ,class:"materialize-textarea" , maxlength:"120"%>
            <label for="textarea1"></label>
          </div>
        </div>
        <div class="new-button">
          <%= submit_tag "SENT" ,class: "btn-block" %>
        </div>
  <% end %>
    </div>
