<%= render partial:"tweet" %>

<div class="new-title">
<h5>ブログを編集</h5>
</div>

<div class="row">
  <%= form_for @tweet, :url => { :controller => :tweets, :action => :update} do |f| %>
      <div class="row">
        <div class="input-text">
          <%= f.text_field :title , style: 'width: 70%' %>
          <%= f.text_area :text , style: 'width: 70%;height: 300px;' %>
        </div>
        <div class="new-button">
          <%= submit_tag "SENT" ,class: "btn-block" %>
        </div>
      </div>
    <% end %>
  </div>
